version: '3'

services:
  react:
    build:
      context: ./
      dockerfile: ./docker/production/react/Dockerfile
    image: metagrid_production_react
    networks:
      - traefik_default
      - default
    env_file:
      - ./../metagrid_configs/metagrid_config
    volumes:
      - './:/app'
      - '/app/node_modules'
    ports:
      - '3000:3000'
    stdin_open: true

networks:
  traefik_default:
    external: true
