version: '3'

services:
  react:
    build:
      context: ./
      dockerfile: ./docker/local/react/Dockerfile
    image: metagrid_local_react
    container_name: react
    env_file:
      - .envs/.local/.react
    volumes:
      - './:/app'
      - '/app/node_modules'
    ports:
      - '3000:3000'
    stdin_open: true
    depends_on:
      - cors-proxy
