exclude: "docs|node_modules|migrations|.git|.tox"
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  # Back-end
  # ------------------------------------------------------------------------------
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        args: ["--config=backend/setup.cfg"]
        additional_dependencies: [flake8-isort]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
      - id: mypy

  # Front-end
  # ------------------------------------------------------------------------------
  # Runs the local node `lint` script to avoid dependencies being out of sync with `frontend/package.json`
  # https://github.com/pre-commit/pre-commit/issues/945
  - repo: local
    hooks:
      - id: eslint_and_tsc
        name: eslint_and_tsc
        language: system
        files: .+(js|jsx|ts|tsx|json)$
        entry: bash -c 'cd frontend && yarn precommit'
