version: "3"

volumes:
  production_postgres_data: {}
  production_postgres_data_backups: {}
  production_traefik: {}

services:
  postgres:
    build:
      context: .
      dockerfile: ./docker/production/postgres/Dockerfile
    image: metagrid_production_postgres
    volumes:
      - production_postgres_data:/var/lib/postgresql/data
      - production_postgres_data_backups:/backups
    env_file:
      - ./../metagrid_config

  django:
    build:
      context: .
      dockerfile: ./docker/production/django/Dockerfile
    image: metagrid_production_django
    networks:
      - traefik_default
      - default
    depends_on:
      - postgres
    env_file:
      - ./.envs/.production/.django
      - ./.envs/.production/.postgres
    ports:
      - "5000:5000"
    command: /start

networks:
  traefik_default:
    external: true
