volumes:
  local_postgres_data: {}
  local_postgres_data_backups: {}

services:
  # This service uses the production Postgres Dockerfile as a base
  # Some tweaks are applied to support the Keycloak service, including the init.sql script
  postgres:
    build:
      context: .
      dockerfile: ./docker/production/postgres/Dockerfile
    image: metagrid_local_postgres
    container_name: postgres
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
      - local_postgres_data_backups:/backups
      - ./docker/local/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - ./.envs/.postgres
    ports:
      - "5433:5432"

  django:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    image: metagrid_local_django
    container_name: django
    depends_on:
      - postgres
    volumes:
      - .:/app
    env_file:
      - ./.envs/.django
      - ./.envs/.postgres
    ports:
      - "8000:8000"
    restart: always
    command: /start
