apiVersion: v1
kind: Secret
metadata:
  name: {{ include "metagrid.fullname" . }}-node-status-backend-config
  labels:
    app.kubernetes.io/component: node-status-backend
    {{- include "metagrid.labels" . | nindent 4 }}
stringData:
  prometheus.yml: {{- tpl (toYaml (.Files.Get "files/prometheus.yml") ) . | indent 2 }}
  esgf_node_status_targets.yml: {{- tpl (toYaml (.Files.Get "files/esgf_node_status_targets.yml") ) . | indent 2 }}
  config.yml: {{- tpl (toYaml (.Files.Get "files/blackbox_exporter.yml") ) . | indent 2 }}
