log:
  level: INFO

entryPoints:
  web:
    # http
    address: ":80"

  web-secure:
    # https
    address: ":443"

certificatesResolvers:
  letsencrypt:
    # https://docs.traefik.io/master/https/acme/#lets-encrypt
    acme:
      email: ""
      storage: /etc/traefik/acme/acme.json
      # https://docs.traefik.io/master/https/acme/#httpchallenge
      httpChallenge:
        entryPoint: web

http:
  routers:
    web-backend-router:
      rule: "Host(`example.com`) && PathPrefix(`/prefix`)"

      entryPoints:
        - web
      middlewares:
        - redirect
        - csrf
      service: django

    web-backend-secure-router:
      rule: "Host(`example.com`) && PathPrefix(`/prefix`)"

      entryPoints:
        - web-secure
      middlewares:
        - csrf
        - secure-headers
      service: django
      tls:
        # https://docs.traefik.io/master/routing/routers/#certresolver
        certResolver: letsencrypt

    web-frontend-router:
      rule: "Host(`example.com`) && PathPrefix(`/prefix`)"

      entryPoints:
        - web
      middlewares:
        - redirect
      service: react

    web-frontend-secure-router:
      rule: "Host(`example.com`) && PathPrefix(`/prefix`)"

      entryPoints:
        - web-secure
      middlewares:
        - secure-headers
      service: react
      tls:
        # https://docs.traefik.io/master/routing/routers/#certresolver
        certResolver: letsencrypt

    web-proxy-router:
      rule: "Host(`example.com`)"

      entryPoints:
        - web
      middlewares:
        - redirect
      service: proxy

    web-proxy-secure-router:
      rule: "Host(`example.com`)"

      entryPoints:
        - web-secure
      middlewares:
        - secure-headers
      service: proxy
      tls:
        # https://docs.traefik.io/master/routing/routers/#certresolver
        certResolver: letsencrypt

  middlewares:
    redirect:
      # https://docs.traefik.io/master/middlewares/redirectscheme/
      redirectScheme:
        scheme: https
        permanent: true
    secure-headers:
      # https://doc.traefik.io/traefik/middlewares/headers/#stsseconds
      # https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security
      headers:
        stsPreload: true
        stsIncludeSubdomains: true
        stsSeconds: 31536000
        forceSTSHeader: true
    csrf:
      # https://docs.traefik.io/master/middlewares/headers/#hostsproxyheaders
      # https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
      headers:
        hostsProxyHeaders: ["X-CSRFToken"]

  services:
    django:
      loadBalancer:
        servers:
          - url: http://django:5000
    react:
      loadBalancer:
        servers:
          - url: http://react:3000
    proxy:
      loadBalancer:
        servers:
          - url: http://proxy:3001

providers:
  # https://docs.traefik.io/master/providers/file/
  file:
    filename: /etc/traefik/traefik.yml
    watch: true
