/* Component styling */
.navbar {
  margin-top: 5px;
  margin-bottom: 3px;
  width: 100%;
  height: 65px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  min-width: 150px;
  margin-left: 10px;
}

.navbar-container .navbar-left {
  height: 65px;
  min-width: 450px;
  flex-wrap: nowrap;
}

.navbar-container .navbar-right {
  width: calc(100% - 550px);
  height: 65px;
}

/* Menu Ant Design overrides */
.navbar-container .ant-menu-horizontal {
  border-bottom: none;
}
.navbar-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 50px;
}

.navbar-mobile-button {
  display: none !important; /* use of important to overwrite ant-btn */
}

.navbar-drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.navbar-drawer .ant-drawer-header {
  padding: 12px 24px !important;
}

@media (max-width: 800px) {
  .navbar-mobile-button {
    display: inline-flex !important;
    float: right;
    margin-top: 15px;
  }

  .navbar-right {
    display: none;
  }

  .navbar-logo a {
    margin-left: -16px;
  }

  .navbar-container .ant-menu-item,
  .navbar-container .ant-menu-submenu-title {
    padding: 1px 12px;
  }

  .navbar-logo a {
    padding: 8px 16px;
  }
}

.badge .ant-badge-count {
  background-color: #fff;
  color: #999;
  box-shadow: 0 0 1px 1px #d9d9d9 inset;
}

.ant-menu-item:hover button:hover {
  background-color: #fff;
}

.ant-menu-item:hover .ant-badge .ant-badge-count {
  background-color: #fff;
  color: #999;
  box-shadow: 0 0 1px 1px #d9d9d9 inset;
}
