# General
# ------------------------------------------------------------------------------
DJANGO_SETTINGS_MODULE=metagrid.config.production
DJANGO_SECRET_KEY=
DJANGO_ADMIN_URL=
DJANGO_ALLOWED_HOSTS=
DOMAIN_NAME=

# Security
# ------------------------------------------------------------------------------
DJANGO_SECURE_SSL_REDIRECT=False

# django-cors-headers
# ------------------------------------------------------------------------------
CORS_ORIGIN_WHITELIST=

# django-all-auth
# ------------------------------------------------------------------------------
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
