repositories:
- name: traefik
  url: https://traefik.github.io/charts

releases:
- name: traefik
  chart: traefik/traefik
  version: v34.4.0
- name: metagrid
  chart: .
  version: "1.5.2"
  values:
    - ingress:
        enabled: true
        tls: false
        host: localhost
        className: traefik
  needs:
    - traefik
