version: "3"

services:
  docs:
    build:
      context: .
      dockerfile: Dockerfile
    image: metagrid_local_docs
    volumes:
      - ./:/docs
    ports:
      - "8001:8001"
    command: /start-docs
