name: Back-end CI

on:
  push:
    branches: [master]
  pull_request:

defaults:
  run:
    working-directory: backend

env:
  DJANGO_SETTINGS_MODULE: config.settings
  PGHOST: localhost
  PGPASSWORD: postgres
  PGUSER: postgres
  METAGRID_SEARCH_URL: https://esgf-node.llnl.gov/esg-search/search
  METAGRID_WGET_URL: https://esgf-node.llnl.gov/esg-search/wget
  METAGRID_STATUS_URL: https://esgf-node.llnl.gov/proxy/status
  METAGRID_SOCIAL_AUTH_GLOBUS_KEY: ${{ secrets.GLOBUS_KEY }}
  METAGRID_SOCIAL_AUTH_GLOBUS_SECRET: ${{ secrets.GLOBUS_SECRET }}
  METAGRID_GLOBUS_CLIENT_ID: 21982de0-2b7a-4ba8-bef5-5606ae098201

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12.6
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Cache pip
        uses: actions/cache@v4
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('**/local.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools
          pip install -r requirements/local.txt

      - name: Run Tests
        run: |
          pytest

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          file: "./backend/coverage.xml"
          flags: backend
